*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
    body{
      background-color: white!important;
      color:#212529;
      font-family: 'Yu Gothic', sans-serif;
  }

  .logo-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .logo-shojin{
    width:20rem;
  }

  .container-nav {
    display: flex;
    justify-content: space-between; /* Distribuye el botón y los enlaces */
    align-items: center; /* Alinea verticalmente el contenido */
    background-color: #556B2F !important;
    padding: 0 1rem; /* Ajusta los márgenes laterales */
  }
  
  .navbar {
    flex: 1; /* Hace que la barra ocupe todo el espacio disponible */
  }
  
  .navbar-toggler {
    margin-right: auto; /* Alinea el botón al lado izquierdo */
    border: none !important;
  }
  
  .navbar-collapse {
    flex-grow: 0; /* Evita que los enlaces se expandan innecesariamente */
    justify-content: center; /* Centra los enlaces */
  }
  
  .navbar .navbar-brand,
  .navbar .nav-link {
    margin-left: 20px;
    font-size: 1.2rem;
    font-family: 'Yu Gothic', sans-serif;
    color: black;
  }
  
  .navbar .nav-link:hover {
    color: white;
  }
  
  
    /* Estilo del carrusel */

  .carousel-item img {
    height: 500px;
    object-fit: cover;
    object-position: center;
  }
  
    /* Encabezados principales */

  .subtitulo-shojin {
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Yu Gothic', sans-serif;
  }
  
  /* Sección de información */
  .info-shojin {
    font-family: 'Yu Gothic', sans-serif;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-bottom: 40px;
  }
  
  .info-shojin p {
    margin: 20px 0;
    text-align: justify;
  }
  .info-shojin strong {
    color: #e74c3c;
    font-weight: bold;
  }
  
  .significado-shojin ul {
    list-style-type: disc;
    padding:0;
    margin-left: 40px;
    margin-bottom: 15px;
  }
  
  .significado-shojin li {
    padding: 5px 0;
    color: #212529;
  }
  
  .significado-shojin p {
    font-weight: bold;
    font-size: 1.2rem;
  }

  
  /* Estilo para listas y texto */
  ul {
    margin-top: 15px;
    padding-left: 20px;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
    /* Estilo para toda la sección */
  .info-compasion {
    font-family: 'Yu Gothic', sans-serif;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-bottom: 40px;
  }

  
  /* Estilo para el título */
  .info-compasion h2 {
    font-size: 24px;
    color: #212529;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
  }
  
  /* Estilo para los párrafos */
  .info-compasion p {
    margin-bottom: 15px;
    text-align: justify;
    font-size: 16px;
  }
  
  /* Estilo para las listas */
  .info-compasion ul {
    list-style-type: disc;
    margin-left: 40px;
    margin-bottom: 15px;
    padding:0;
  }
  
  .info-compasion ul li {
    margin-bottom: 10px;
  }
  
  /* Estilo para resaltar los términos importantes */
  .info-compasion strong {
    color: #e74c3c;
    font-weight: bold;
  }
  
  /* Estilo para las citas */
  .info-compasion blockquote {
    background-color:#ead279;
    border-left: 5px solid #e74c3c;
    padding: 10px 20px;
    margin: 20px 0;
    font-style: italic;
    font-size: 15px;
  }
  
  /* Estilo para el texto dentro de blockquote */
  .info-compasion blockquote p {
    margin: 10px 0;
  }
  
  /* Estilo para el fondo y las sombras */
  .info-compasion {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .info-ritual{
    font-family: 'Yu Gothic', sans-serif;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-bottom: 50px;
  }

  /* Estilo para el título */
  .info-ritual h2 {
    font-size: 24px;
    color: #212529;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
  }
  
  /* Estilo para los párrafos */
  .info-ritual p {
    margin-bottom: 15px;
    text-align: justify;
    font-size: 16px;
  }

  /* Estilo para el fondo y las sombras */
  .info-ritual {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

   /* Estilo para el ritual a la hora de comer */
  .highlighted-text {
    background-color: #f9f9f9;
    padding: 10px;
    border-left: 5px solid #556B2F;
    font-style: italic;
    margin: 20px 0;
  }

  .sutitulo_ritual{
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  
    /*Estilo h1 páginas menos index*/
  .titulos-paginas{
    margin-top: 1.5rem ;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 0.4rem;
    font-family: 'Yu Gothic', sans-serif;
  }

  /*Estilo imagen página de recetas*/
  .container-imagen-recetas {
    position: relative; /* Necesario para posicionar el contenido sobre la imagen */
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 18rem; /* Establece la altura fija en 18rem */
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
  }
  
  .imagen-recetas {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 100%; /* Ajusta la altura al contenedor */
    object-fit: cover; /* Mantiene las proporciones y recorta si es necesario */
    object-position: center; /* Centra la imagen dentro del contenedor */
  }
  
  .content {
    position: absolute; /* Posiciona el texto sobre la imagen */
    bottom: 0; /* Ubica el texto en la parte inferior del contenedor */
    width: 100%; /* El fondo ocupa todo el ancho del contenedor */
    text-align: center; /* Centra horizontalmente el texto */
    padding: 1.5rem; /* Espaciado interno para el texto */
  }
  
  .titulo-sobre-fondo {
    color: white; 
    font-weight: bold;
    font-size: 4.5rem; 
    letter-spacing: 0.4rem;
    margin: 0; /* Quita márgenes extra */
    font-family: 'Yu Gothic', sans-serif;
    text-shadow: 0px 0px 10px black;
  }
  
  /*Estilo para sección de búsqueda de recetas*/
  .search-section{
      font-family: 'Yu Gothic', sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
      margin-top: 1rem;
  }
  
  .search-section input{
      width: 30rem;
      height: calc(1.5em + .75rem + 2px);
      padding: .375rem .75rem;
      border: solid 1.5px #878E3E;
      border-radius: 1.5rem;
      margin-bottom: 0.5rem;
      color: #5a5a4a; 
      font-size: 0.9rem;
      font-family: 'Yu Gothic', sans-serif;
      box-shadow: 0 0 .4rem rgba(135, 142, 62, 0.5);
      transition: 0.3s ease-in-out;
  }
  
  .search-section button{
      padding: 0.5rem 1rem; 
      border: none;
      border-radius: 1.5rem;
      background-color: #d0a13d ; 
      color: hsl(210, 11%, 15%);
      font-size: 0.9rem;
      font-family: 'Yu Gothic', sans-serif;
  }
  
  .search-section button:hover {
      background-color: #ead279; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  /* Contenedor para la lista de enlaces de recetas en la pagina recetas */
  .container{
    margin-top: 3rem;
    margin-bottom: 10px;
  }
  .container a {
    font-family: 'Yu Gothic', sans-serif;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color:#222831;
  }
  
  .container a:hover{
    color:#d0a13d;
    font-weight:500;
  }

  .card{
    border: none !important; 
  }

  .card .card-img-top:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra en los 4 lados */
  }
  .card-img-top {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
  
  
  /* Estilos para paginación recetas*/

  .page-item .page-link {
    color: #222831;
    background-color:white;
    padding: 8px 12px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
    border:2px solid #ead279;
    border-radius: 10px;
    font-family: 'Yu Gothic', sans-serif;
    font-size: 0.8rem;
    margin-bottom: 30px;

  }
  .page-item .page-link:hover {
    background-color:#ead279;
    color: #222831;
  }
  .page-item.active .page-link {
    background-color:white;
    color:#222831;
    border:2px solid #ead279 ;
    border-radius: 10px;
    
  }
  .page-item.disabled .page-link {
    background-color:#d0a13d !important;
    color:#222831;
    border-color: #d0a13d !important ;
  }
  
  
  /* Estilos para cada receta*/
  
  .titulo-nombre-receta{
    color:#212529;
    font-family: 'Yu Gothic', sans-serif;
    letter-spacing: 0.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    font-weight: bold;
  }
  
  .container-receta{
    font-family: 'Yu Gothic', sans-serif;
    color:#212529;
    letter-spacing: 0.04rem;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    width: 70rem; 
    margin: 0 auto; 
    padding: 1rem;
    margin-bottom: 80px;
  }
  
  .image-ingredientes {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    align-content: center;
    gap: 2rem; 
    margin-bottom:50px;
  }
  
  #photo-recipe{
    width: 50%;
    max-width: 100%; 
    height: auto; 
    margin-bottom: 20px;
  }
  
  .container-ingredientes {
    background-color: #f0db92;
    border-radius: 1rem;
    padding: 1.5rem;
    width: 45%;
  }

  .ingredient-item{
    list-style-type:disc;
  }
  
  #portions{
    font-size: 0.9rem;
    font-style: italic;
    text-align: end;
    margin-top: 20px ;
    margin-bottom: 35px;
  }
  
  .h5-receta{
    font-family: 'Yu Gothic', sans-serif;
    color:#212529;
    letter-spacing: 0.04rem;
    padding: 10px;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .instrucciones-recetas{
    font-family: 'Yu Gothic', sans-serif;
    color:#212529;
    letter-spacing: 0.04rem;
    font-size: 1.2rem;
    width: 100%;
    text-align: justify;
    padding: 10px;
  }
  
  #curiosidad-container {
    margin: 30px auto; /* Centra horizontalmente y agrega espacio superior */
    display: block;  /* Para que respete el ancho máximo y se centre */
    font-family: 'Yu Gothic', sans-serif; ;
    letter-spacing: 0.08;
    font-size: 1.2rem;
    display: inline-block;  /* Ajusta el tamaño automáticamente al contenido */
    border: 1px solid transparent;
    padding: 15px;             
    max-width: 70rem;       
    box-sizing: border-box;
    word-wrap: break-word; 
    background-color: #f0ebe6;
    color:#2c3e50;
    
  }

  .titulo_curiosidad{
    font-size: 1.6rem;
    margin-bottom:1rem;
    text-align: center;
    font-weight: 600;
  }

  .ingredient-link {
    color: #556B2F; 
    text-decoration: none; 
    font-weight: bold; /* Aumenta el grosor del texto */
    transition: color 0.3s; /* Añade una animación al pasar el ratón */
  }
  
  .ingredient-link:hover {
    color: #556B2F; 
    text-decoration: underline; 
  }
  
  
  
  /*Estilo para contacto */
  
  .contacto-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    font-family: 'Yu Gothic', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    text-align: start;
    padding: 3rem;
    margin: 2rem;
    color:#212529;
  }
  
  .container-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  
  .imagen-contacto {
    width: 100%;
    object-fit: cover;
  }
  
  .pagina-fudoji {
    display: flex;
    justify-content: flex-start;
    align-items:center; 
    gap: 2rem;
    margin-top: 20px;
  }
  
  .logo-fudoji,
  .pagina-fudoji img {
    width: 50px; 
  }
  
  
  /*Estilo para el footer*/
  footer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color:#72884c;
    min-height:20vh;
  }
  
  .text-footer{
    margin: 40px 280px 40px 280px;
    color: black;
    font-size: 0.8rem;
    text-align: center;
  }
  
  .scroll-container {
    display: none; /* Inicialmente oculto */
    justify-content: flex-end;
    padding: 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .scroll-top {
    width: 80%;
  }
  
  
  @media only screen and (max-width: 1200px) {
    .container-receta {
      width: 100%; 
      padding: 1rem;
      margin-bottom: 40px;
    }
    
    .titulo-nombre-receta {
      font-size: 1.5rem; 
      margin-bottom: 20px;
    }

    .h5-receta{
      font-size: 1.2rem;
    }
    
    .image-ingredientes {
      flex-direction: row; 
    }
  
    .contacto-info {
      font-size: 1rem;
    }
    
  }


 /* Ajustes del navbar versión celular */
  @media (max-width: 991.98px) { 
    .container-nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background-color: #556B2F;
    }
  
    .navbar-toggler {
      margin: 0;
      outline: none;
      box-shadow: none;
    }
  
    .navbar-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem; /* Espacio entre los enlaces */
    }

    .navbar-toggler:focus {
      box-shadow:none!important;
    }

    .navbar .navbar-brand,
    .navbar .nav-link {
      margin-left:0px;
    }
  }
  

  
  @media only screen and (max-width: 890px) {

    .titulo-sobre-fondo {
      font-size: 3.5rem; 
    }

    .container-receta {
      width: 100%; 
      padding: 1rem;
      margin-bottom: 40px;
    }
    
    .titulo-nombre-receta {
      font-size: 1.5rem; 
      letter-spacing: 0.2rem;
      margin-bottom: 20px;
    }

    .h5-receta{
      font-size: 1.2rem;
    }
    
    .image-ingredientes {
      flex-direction: column-reverse; 
      align-items: center;
      gap: 1rem;
    }
    
    #photo-recipe {
      width: 80%; 
    }
    
    .text-footer{
      margin: 50px 20px 50px 20px;
      line-height: 20px;
      font-size: 0.8rem;
      text-align: center;
    }

  }
  
  @media only screen and (max-width: 768px){
    .scroll-container{
      bottom: 10px; /* Reduce la distancia desde abajo */
      right: 10px;  /* Reduce la distancia desde la derecha */
      padding: 10px; /* Reduce el padding */
    }

    .carousel-item img{
      height: 400px;
    }

    .titulos-paginas{
      font-size: 2rem;
    }

    .titulo-sobre-fondo {
      font-size: 2.5rem; 
    }

    .container-imagen-recetas {
      height: 15rem; /* Establece la altura fija en 18rem */
    }

    .imagen-recetas {
      object-position: center center; /* Centra la imagen dentro del contenedor */
    }
  
    .text-footer{
      margin: 50px 20px 50px 20px;
      line-height: 20px;
      font-size: 0.8rem;
      text-align: center;
    }
  
    .titulo-index {
      font-size: 2.5rem;
    }

    .subtitulo-shojin {
      font-size: 1.8rem;
    }
  
    .search-section input{
      width: 20rem;
  }
  
  .search-section button{
      padding: 0.5rem 1rem; 
      border: none;
  }
  
  
  .container-receta {
    width: 100%; 
    padding: 1rem;
    margin-bottom: 40px;
  }
  
  .titulo-nombre-receta {
    font-size: 1.5rem; 
    margin-bottom: 15px;
  }

  .h5-receta{
    font-size: 1.2rem;
  }

  
  .image-ingredientes {
    flex-direction: column-reverse; 
    align-items: center;
    gap: 1rem;
    margin-bottom: 20px;
  }
  
  #photo-recipe {
    width: 100%; 
  }
  
  .container-ingredientes {
    width: 100%; 
    margin-bottom: 20px;
    padding: 1.2rem;
    
  }
  
  #portions {
    font-size: 0.8rem; 
    text-align: center; 
    margin-bottom: 20px;
  }
  
  .instrucciones-recetas {
    padding: 1rem;
  }
  
  #curiosidad-container {
    max-width: 100%; 
    margin-top: 10px; 
    padding: 1.5rem;
  }
  
  .contacto-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-family: 'Yu Gothic', sans-serif;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    text-align:start;
    padding: 10px;
  }
  
  
  .imagen-contacto {
    width: 100%;
  }
  
  .pagina-fudoji {
    display: flex;
    justify-content: center;
    align-items:center; 
    gap: 1rem;
    margin-top: 20px;
    
  }
  }
  @media only screen and (max-width: 480px) {

    .titulo-nombre-receta {
      font-size: 1.5rem;
      margin-bottom: 15px;
    }
    
    .instrucciones-recetas {
      padding: 0.5rem;
    }
  
    #photo-recipe {
      width: 100%;
      margin-bottom: 10px;
    }

    .container-ingredientes {
      padding:1.2rem;
    }

    #curiosidad-container {
      padding: 1.5rem;
    }
  
    .contacto-info {
      font-size: 1rem;
    }


    .scroll-container {
      bottom: 5px; /* Más cerca del borde inferior */
      right: 5px;  /* Más cerca del borde derecho */
      padding: 5px; /* Padding mínimo */
    }
  }
  